/**! 主题变量 */
:root {
  .default {
    // 侧边栏样式
    --left-bg-color: var(--hula-brand-primary);
    --left-active-bg-color: rgba(222, 222, 222, 0.2);
    --left-text-color: var(--hula-brand-primary);
    --left-icon-color: var(--hula-brand-primary);
    --left-active-hover: var(--hula-brand-primary);
    --left-bg-hover: rgba(var(--hula-white-rgb), 0.2);
    --left-active-icon-color: var(--hula-brand-primary);
    --left-win-icon-color: rgba(var(--hula-white-rgb), 0.4);

    // 包含边框的选中样式
    --border-active-color: var(--hula-brand-primary);

    // 右边布局内容背景
    --right-theme-bg-color: radial-gradient(
      circle at top left,
      rgba(255, 209, 255, 0.3) 20%,
      rgba(130, 193, 187, 0.3) 100%
    );

    // 聊天框主体样式
    --right-chat-reply-color: var(--hula-brand-primary);
    --right-chat-reply-active-color: rgba(99, 99, 99, 0.1);
    --right-chat-footer-line-color: rgba(99, 99, 99, 0.1);

    // 消息列表样式
    --msg-active-color: var(--hula-brand-primary);
    // 群公告消息背景色
    --group-notice-bg: var(--hula-white);

    // 列表通用hover
    --list-hover-color: rgba(99, 99, 99, 0.1);

    // 整体hover图标的样式
    --icon-hover-color: rgba(166, 166, 166, 0.2);
  }
}

html[data-theme='dark'] {
  .default {
    // 侧边栏样式
    --left-bg-color: rgba(62, 101, 100, 0.8);
    --left-active-bg-color: rgba(222, 222, 222, 0.1);
    --left-text-color: var(--hula-gray-300);
    --left-icon-color: var(--hula-gray-300);
    --left-active-hover: rgba(26, 178, 146, 0.8);
    --left-bg-hover: rgba(133, 133, 133, 0.2);
    --left-active-icon-color: var(--hula-brand-primary);
    --left-win-icon-color: var(--hula-brand-primary);

    // 包含边框的选中样式
    --border-active-color: var(--hula-brand-primary);

    // 右边布局内容背景
    --right-theme-bg-color: radial-gradient(
      circle at top left,
      rgba(255, 209, 255, 0.2) 0%,
      rgba(130, 193, 187, 0.2) 150%
    );

    // 聊天框主体样式
    --right-chat-reply-color: var(--hula-gray-700);
    --right-chat-reply-active-color: rgba(var(--hula-white-rgb), 0.1);
    --right-chat-footer-line-color: var(--hula-gray-700);

    // 消息列表样式
    --msg-active-color: rgba(var(--hula-brand-rgb), 0.4);
    // 群公告消息背景色
    --group-notice-bg: rgba(133, 133, 133, 0.2);

    // 列表通用hover
    --list-hover-color: rgba(244, 244, 244, 0.1);

    // 整体hover图标的样式
    --icon-hover-color: rgba(var(--hula-gray-500-rgb), 0.4);
  }
}
/**! end */
