/**! 主题变量 */
:root {
  .simple {
    // 侧边栏样式
    --left-bg-color: rgba(229, 229, 230, 1);
    --left-active-bg-color: rgba(193, 193, 193, 0.6);
    --left-text-color: #333;
    --left-icon-color: #333;
    --left-active-hover: var(--hula-brand-primary);
    --left-bg-hover: rgba(193, 193, 193, 0.4);
    --left-active-icon-color: var(--hula-brand-primary);
    --left-win-icon-color: rgba(19, 152, 127, 0.6);

    // 包含边框的选中样式
    --border-active-color: var(--hula-brand-primary);

    // 右边布局内容背景
    --right-theme-bg-color: var(--hula-brand-primary);

    // 聊天框主体样式
    --right-chat-reply-color: #ddd;
    --right-chat-reply-active-color: rgba(99, 99, 99, 0.1);
    --right-chat-footer-line-color: var(--hula-brand-primary);

    // 消息列表样式
    --msg-active-color: var(--hula-brand-primary);
    // 群公告消息背景色
    --group-notice-bg: #fff;

    // 列表通用hover
    --list-hover-color: rgba(99, 99, 99, 0.1);

    // 整体hover图标的样式
    --icon-hover-color: var(--hula-brand-primary);

    // 移动端样式
    --tab-bar-icon-color: rgba(19, 152, 127, 1);
  }
}

html[data-theme='dark'] {
  .simple {
    // 侧边栏样式
    --left-bg-color: var(--hula-brand-primary);
    --left-active-bg-color: rgba(193, 193, 193, 0.1);
    --left-text-color: var(--hula-brand-primary);
    --left-icon-color: var(--hula-brand-primary);
    --left-active-hover: var(--hula-brand-primary);
    --left-bg-hover: rgba(255, 255, 255, 0.2);
    --left-active-icon-color: var(--hula-brand-primary);
    --left-win-icon-color: rgba(19, 152, 127, 0.6);

    // 包含边框的选中样式
    --border-active-color: var(--hula-brand-primary);

    // 右边布局内容背景
    --right-theme-bg-color: var(--hula-brand-primary);

    // 聊天框主体样式
    --right-chat-reply-color: var(--hula-brand-primary);
    --right-chat-reply-active-color: rgba(255, 255, 255, 0.1);
    --right-chat-footer-line-color: var(--hula-brand-primary);

    // 消息列表样式
    --msg-active-color: rgba(19, 152, 127, 0.4);
    // 群公告消息背景色
    --group-notice-bg: rgba(133, 133, 133, 0.2);

    // 列表通用hover
    --list-hover-color: rgba(244, 244, 244, 0.1);

    // 整体hover图标的样式
    --icon-hover-color: var(--hula-brand-primary);

    // 移动端样式
    --tab-bar-icon-color: rgba(19, 152, 127, 0.4);
  }
}
/**! end */
