html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.chat-message-max-width{
  max-width: fit-content;
}

.chat-bot-message-gap{
  gap: 8px;
}

.typing-hint{
  font-size: 12px;
  color: var(--chat-text-color);
  background: rgba(0,0,0,0.08);
  border-radius: 12px;
  padding: 4px 8px;
  backdrop-filter: blur(4px);
}
.dot-online{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: #1aaa55;
}
