.driver-popover.driverjs-theme {
  background-color: var(--hula-brand-primary);
}

#driver-popover-title {
  font-size: 16px;
  padding-bottom: 4px;
  color: var(--hula-brand-primary);
}

#driver-popover-description {
  font-size: 12px;
  color: var(--hula-brand-primary);
}

driver-popover.driverjs-theme .driver-popover-title {
  font-size: 12px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: var(--hula-black);
}

.driver-popover.driverjs-theme button {
  text-align: center;
  background-color: var(--hula-black);
  color: var(--hula-brand-primary);
  border: 2px solid var(--hula-black);
  text-shadow: none;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none;
}

.driver-popover.driverjs-theme button:hover {
  background-color: var(--hula-black);
  color: var(--hula-brand-primary);
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  gap: 8px;
}

.driver-popover.driverjs-theme .driver-popover-arrow {
  opacity: 0;
}
